*/*.log
*/*.synctex.gz
*/*.aux
*/*.out
*/*.toc
*/*.pdf
*/*.fls
*/*.fdb_latexmk
*/*.blg
*/*.bbl
*/*.bcf
*/*.run.xml
*/*.synctex(busy)
*/*.synctex(busy)*
*/*.synctex.gz(busy)
*/*.synctex.gz(busy)*
*/*.synctex.gz(busy)**
*/*.synctex.gz(busy)**
